<div *ngIf="isBusy" class="xxx-spinner-container" fxLayout="row" fxLayoutAlign="center center">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isBusy&&!isError&&isResult" class="xxx-questions-container">
  <div *ngFor="let question of questions" class="xxx-question-container">
    <a (click)="questionOnClick(question.question_id)" [routerLink]="">{{decodeHtmlEntities(question.title)}}</a>
  </div>
  <div class="xxx-results-footer" fxLayout="row" fxLayoutAlign="end center">
    <span class="xxx-results-currrent-page-caption">Page</span>
    <span class="xxx-results-currrent-page">{{pageNumber}}</span>
    <span class="xxx-results-paging" fxLayout="row" fxLayoutAlign="space-between center">
    <button class="xxx-results-first-page" (click)="goToFirstPage()" [disabled]="pageNumber===1" mat-icon-button
            title="Go To First Page">
      <mat-icon>first_page</mat-icon>
    </button>
      <button class="xxx-results-previous-page" (click)="goToPreviousPage()" [disabled]="pageNumber===1"
              mat-icon-button title="Go To Previous Page">
    <mat-icon>chevron_left</mat-icon>
      </button>
      <button class="xxx-results-next-page" (click)="goToNextPage()" [disabled]="!isMorePages" mat-icon-button
              title="Go To Next Page">
    <mat-icon>chevron_right</mat-icon>
      </button>
    </span>
  </div>
</div>
